.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  &__logo {
    width: 120px;
  }

  &__language-select {
    padding: 6px;
    font-size: 16px;
  }
}
